// advantages
section.advantages
  .wrapper
    .lines__container
      .line.line--1.mobile-hide
      .line.line--2
      .line.line--3.mobile-hide
      .advantages__title 
        h2 Почему выбирают нас
      .row 
        .advantages__col 
          .advantages__item
            .advantages__icon 
              img(src="img/hours_icon.svg", alt="")
            .advantages__text 
              h4 Работаем 24/7
              p Круглосуточная поддержка клиентов 
        .advantages__col 
          .advantages__item
            .advantages__icon 
              img(src="img/car_icon.svg", alt="")
            .advantages__text 
              h4 Более 10 машин
              p Собственный грузовой автопарк
        .advantages__col 
          .advantages__item
            .advantages__icon 
              img(src="img/rouble_icon.svg", alt="")
            .advantages__text 
              h4 Гибкое и доступное ценообразование
        .advantages__col 
          .advantages__item
            .advantages__icon 
              img(src="img/shild_icon.svg", alt="")
            .advantages__text 
              h4 Ответственность
              p Страхуем все отправления и несем материальную ответственость
//	/advantages