// header
header.header#header
	.wrapper

		.header__col 

			// logo
			a(href="#").logo 
				img(src="img/logo.svg", alt="")
			// /logo

			// menu
			//- .menu--left .menu--right
			.js-menu.menu.menu--right
				#menu-btn.menu__btn.hamburger.hamburger--squeeze
					.hamburger-box
						.hamburger-inner
				nav.menu__nav
					ul.menu__list
						li.menu__childin
							a(href="#").js-click Услуги
							ul.menu__submenu
								li 
									a(href="#")
										span.menu__icon
											img(src="img/car2_icon.svg", alt="")
										span Доставка грузов
								li 
									a(href="#")
										span.menu__icon
											img(src="img/box_icon.svg", alt="")
										span Таможенное оформление
								li 
									a(href="#")
										span.menu__icon
											img(src="img/search_icon.svg", alt="")
										span Обработка грузов
								li 
									a(href="#") 
										span.menu__icon
											img(src="img/car3_icon.svg", alt="")
										span Складское хранение
						li
							a(href="#") О нас
						li
							a(href="#") Контакты
					#menu-close.menu__close
				#menu-over.menu__over
			// /menu

		.header__col 

			.phone
				img(src="img/phone-icon.svg", alt="").phone__icon
				a(href="tel:+78121234567").phone__link +7 (812) 123 45 67

			// lang
			.lang
				a(href="#").lang__link RU
				a(href="#").lang__link ENG
			// /lang

// /header