// header
header.header#header
	.wrapper
		.header_container

			// menu
			//- .menu--left .menu--right
			.js-menu.menu.menu--right
				#menu-btn.menu__btn.hamburger.hamburger--squeeze
					.hamburger-box
						.hamburger-inner
				nav.menu__nav
					ul.menu__list
						li
							a(href="#") Меню 1
						li
							a(href="#") Меню 2
						li
							a(href="#") Меню 3
						li
							a(href="#") Меню 4
						li
							a(href="#") Меню 5
						li
							a(href="#") Меню 6
						li
							a(href="#") Меню 7
						li
							a(href="#") Меню 8
					#menu-close.menu__close
				#menu-over.menu__over
			// /menu

// /header