extends blocks/base.pug

block title 
	title О нас

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content
			
			// pagination
			.pagination
				.wrapper
					ul.pagination__list 
						li 
							a(href="#") Главная
						li 
							span О нас
			//	/pagination

			// about
			.about
				.wrapper
					.about__title 
						h1 True-L — международная транспортная компания
					.lines__container 
						.line.line--1.mobile-hide
						.line.line--2
						.line.line--3.mobile-hide
						.about__container
							.about__img 
								img(src="img/about_img.jpg", alt="")
							.about__badge
								img(src="img/photo.jpg", alt="").about__photo
								.about__content
									.about__name Малахов Тагир Алиевич
									p Генеральный директор и учредитель «Труэл»
							.text 
								.lead «Зачем вам собственные машины? Берете заказ, накручиваете 15% и передаете дальше по цепочке. И никакой ответственности!» Мы слышали это не раз от коллег по цеху. Но мы прошли слишком долгий путь, чтобы позволить себе такое отношение к клиенту. И теперь хотим рассказать, что мы называем «настоящей логистикой»
								p Сегодня на рынке много компаний-экспедиторов, которые хотят выделиться предоставив клиенту лучшую цену. И это правильная стратегия. Но даже самая низкая цена не принесет пользу клиенту, если экспедитор задержит доставку или повредит груз.
								p Намного важнее сочетание низких цен и профессионального сервиса. Сервиса такого уровня, когда каждый этап был проработан и отточен временем и опытом «от и до». 
							.text
								h2 Не боимся ответственности
								p Начиная свою деятельность в компании «Фура МКС», с которой берет свое начало «Труэл», мы начинали именно с предоставления услуг нашего автопарка. 
								p Зачастую большинство компаний-экспедиторов даже понятия не имеют сколько этапов и скрытых элементов включает в себя само понятие «международная перевозка.
									mark Работа с документами, с водителями, с заботой о собственном транспорте, слежение за грузом, его сохранностью в пути
									| научили нас тому пониманию ответственности, с которой нужно подходить к работе, которая лежит на нас, как на перевозчике еще задолго до того, как мы решили перейти к полноценной международной доставке сборных грузов со всего мира. 
								blockquote Большинство компаний-экспедиторов даже понятия не имеет 
									strong сколько этапов и скрытых элементов скрывается под самим понятием международной перевозки
								p Предоставляя услуги транспорта мы обзавелись надежными партнерами, с которыми мы сохранили многолетнее сотрудничество. Это сотрудничество дало нам бесценный опыт в складской логистике, в формировании консолидационных грузов, таможенном оформлении на границе и на СВХ. 
							.text 
								h2 Наша команда
								p Создавая «Труэл», мы постарались соединить не просто команду профессионалов и агентскую сеть партнеров, но сформировать такую систему, которая включала бы в себя те самые детально проработанные моменты на каждом этапе международной перевозки. 
								p В нашу команду входят логисты, менеджеры по продажам наших услуг и ведению клиентов, водители-экспедиторы, диспетчера, грузчики-кладовщики, специалисты по работе с документами, как внутри российской юрисдикции, так и за ее пределами. И за каждый из этих сегментов мы спокойны, когда говорим клиенту, что мы знаем, что мы продаем и мы работаем в команде — мы полностью отвечаем за каждое слово. 
							.text 
								h2 Всегда точно знаем, что везем
								p Компания «Труэл» не является «посредником по телефону», где вас будут просить подождать уточнений, либо пытаться выяснить через несколько звонков, где находится машина или в каком состоянии прибыл груз на склад консолидации.
								ul 
									li Мы полностью контролируем все отправления:
										ol 
											li 
												span Видеонаблюдение на складе, 
											li 
												span Фотографирование груза и предоставление фото по первому требованию,
											li 
												span Реальное описание груза, включая его реальный вес, который мы измеряем сами, а не берем из документов отправителя,
											li 
												span Точное количество мест в машине.
								p Все это важно для нас, как для собственника автотранспорта, как и для вас, в виду того, что 
									mark КоАП предусматривает ответственность именно перевозчика, а не экспедитора,
									| который может ошибиться и пытаться выкручиваться из ситуации. 
								p Мы компания, которая признает эту ответственность, которая ее несет, и которая понимает, что она реальна. Именно поэтому мы уверены в том, что когда мы даем вам статус груза и его состояние, как фактическое, так и документальное, что оно соответствует действительности и наша команда на каждом этапе, будет направлять и сопровождать вас советами и консультациями.
							.text 
								h2 Руки и ноги бизнеса
								p Компания «Труэл» — это те самые «руки», которые оформляют огромные пакеты документов, наблюдают за погрузкой, сверяют места и их документальное отражение в сопроводительных документах. 
								p Это те самые «ноги» на таможенных постах, когда даже водитель в состоянии произвести видеосъемку процесса, общаться с представителями таможенных органов, отстаивая интересы компании и перевозимых ее грузов.	
								p И именно поэтому мы гордимся, тем, что мы создали. И именно поэтому мы решили выбрать название «True Logistics» — настоящая логистика. 
							.text
								h2 Умеем слушать
								p Мы по-настоящему знаем и видим логистику сборных грузов со всей ее спецификой, разнообразием и рисками. Мы способны не просто продавать вас «ставку», а сформировать гибкое ценовое предложение под вас — вникать в суть вашей цепочки поставок, ваших индивидуальных потребностей.
								blockquote Мы по-настоящему знаем и видим логистику сборных грузов 
									strong со всей ее спецификой, разнообразием и рисками
								p Потому что мы не просто перевозим паллеты, килограммы или кубы. Каждый ваш заказ для нас — это реальный груз, со своими особенностями, к которым мы подходим с настоящей ответственностью. И это наш сервис, за который нас ценят как наши партнеры агенты, так и наши партнеры клиенты.
								p Нужна ответственная доставка груза и помощь с оформлением документов? Будем рады вам помочь. 
									a(href="#") Перейти в контакты

			//	/about

			// cases
			.cases
				.wrapper 
					.row 
						.cases__title
							h3 Наши кейсы
						ul.cases__list
							li.cases__item 
								a(href="#").cases__link
									.cases__subtitle Кейс: как мы снизили стоимость перевозки для Danone в 4 раза
									.cases__text 02 февраля 2021
							li.cases__item 
								a(href="#").cases__link
									.cases__subtitle Кейс: как мы доставляли груз в 22 тонны из Лондона в Москву за 3 дня и почему остальные перевозчики не хотели его вести
									.cases__text 21 апреля 2021

			.wrapper 
				.lines__container 
					.line.line--1.mobile-hide
					.line.line--2
					.line.line--3.mobile-hide
					
					include blocks/advantages.pug

					include blocks/callback.pug
					+callback('callback')
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")