.advantages {
  padding-top: 124px;
  padding-bottom: 70px;
  &__title {
    text-align: center;
    margin-bottom: 52px;
    position: relative;
  }
  .row {
    @include no-gutter();
  }
  &__col {
    @include col(3);
    @include col-sm(12);
  }
  &__item {
    height: 100%;
    padding: 50px 40px 44px;
    background-color: #fff;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    &:hover {
      .advantages__text {
        h4 {
          color: $blue;
        }
      }
    }
  }
  &__icon {
    margin-bottom: 20px;
  }
  &__text {
    h4 {
      font-weight: bold;
      line-height: 29px;
      margin-bottom: 5px;
      transition: 0.2s;
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 98px;
    padding-bottom: 12px;
    &__title {
      text-align: left;
      margin-bottom: 30px;
      h2 {
        font-size: 28px;
        line-height: 36px;
      }
    }
    &__col {
      margin-bottom: 10px;
    }
    &__item {
      display: flex;
      padding: 33px 34px 18px;
      background-color: #fff;
      position: relative;
    }
    &__icon {
      flex-shrink: 0;
      margin-right: 33px;
    }
    &__text {
      padding-top: 10px;
    }
  }
}