.menu {
	&__nav {
		height: 100%;
		transition: .5s;
		margin-left: 40px;
		z-index: 9;
	}
	&__list {
		display: flex;
		height: 100%;
		margin-left: -25px;
		font-size: 21px;
		line-height: 24px;
		li {
			height: 100%;
			margin-left: 25px;
		}
		a {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 10px;
			position: relative;
			white-space: nowrap;
			&:hover {
				color: $blue;
			}
		}
	}
	&__childin {
		> a {
			padding: 10px 30px 10px 10px;
			position: relative;
			&:after {
				content: '';
				display: block;
				width: 12px;
				height: 7px;
				background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00391 5.11328C5.14062 5.25 5.33203 5.25 5.46875 5.11328L9.51562 1.12109C9.65234 0.984375 9.65234 0.765625 9.51562 0.65625L8.96875 0.109375C8.85938 -0.0273438 8.64062 -0.0273438 8.50391 0.109375L5.25 3.33594L1.96875 0.109375C1.83203 -0.0273438 1.64062 -0.0273438 1.50391 0.109375L0.957031 0.65625C0.820312 0.765625 0.820312 0.984375 0.957031 1.12109L5.00391 5.11328Z' fill='black'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				top: 50%;
				right: 2px;
				transform: translate(0,-50%);
			}
			&.active {
				color: $blue;
				box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.1);
				+ .menu__submenu {
					visibility: visible;
					opacity: 1;
					transform: translate(0,0);
				}
			}
		}
	}
	&__submenu {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		max-width: 830px;
		padding: 30px;
		position: absolute;
		top: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: #fff;
		box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
		transform: translate(0,50px);
		transition: 0.5s;
		z-index: 10;
		li {
			width: 25%;
			padding: 5px;
			margin-left: 0;
		}
		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 50px 30px 30px;
			background-color: #FBF7F7;
			text-align: center;
			white-space: normal;
		}
	}
	&__icon {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		height: 50px;
	}
	&__btn {
		display: flex;
		align-items: center;
		padding-left: 30px;
		border-left: 1px solid $bdc;
	}
	@media (max-width: $break_md) {
		&__submenu {
			max-width: 500px;
			li {
				width: 50%;
			}
		}
	}
	@media (max-width: $break_sm) {
		&__nav {
			width: 100%;
			padding: 100px 20px 20px;
			margin-left: 0;
			background-color: #fff;
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-y: auto;
		}
		&__list {
			display: block;
			height: auto;
			li {
				height: auto;
			}
			a {
				margin: 0;
			}
		}
		&__submenu {
			max-width: none;
			max-height: 0;
			padding: 0;
			position: static;
			visibility: visible;
			opacity: 1;
			transform: translate(0,0);
			box-shadow: none;
			transition: max-height 1s cubic-bezier(0, 1, 0.5, 1);
			overflow: hidden;
			li {
				width: 100%;
			}
			a {
				display: block;
				padding: 10px;
				text-align: left;
			}
		}
		&__close {
			width: 25px;
			height: 25px;
			position: absolute;
			top: 30px;
			right: 20px;
			&:after,&:before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: #222;
				position: absolute;
				top: 50%;
			 	left: 50%;
			}
			&:after {
				transform: translate(-50%,-50%) rotate(45deg);
			}
			&:before {
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}
		&__icon {
			display: none;
		}
		&__childin {
			> a {
				&.active {
					box-shadow: none;
					+ .menu__submenu {
						max-height: 1000px;
						transition: max-height 20s cubic-bezier(0, 1, 0.5, 1);
					}
				}
			}
		}
		&--left {
			.menu__nav {
				left: -800px;
			}
			&.open {
				.menu__nav {
					left: 0;
				}
			}
		}
		&--right {
			.menu__nav {
				right: -800px;
			}
			&.open {
				.menu__nav {
					right: 0;
				}
			}
		}
	}
	@media (max-width: $break_xs) {
		&__btn {
			padding-left: 25px;
		}
	}
}