/* settings */
html {
  height: 100%;
}
a {
  transition: .2s;
  text-decoration: none;
  color: #222;
}
button,
input,
textarea {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 26px;
  background: #FFFFFF;
  border: 2px solid #D4D4D4;
  border-radius: 5px;
  transition: 0.3s;
  &:focus,&:hover {
    border-color: $blue;
  }
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #FBFBFB;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #222;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
h1, h2 {
  font-family: "PT Serif", serif;
  font-size: 54px;
  font-weight: normal;
  line-height: 61px;
  @media (max-width: $break_sm) {
    font-size: 38px;
    line-height: 51px;
  }
}
h3 {
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 34px;
  line-height: 51px;
  @media (max-width: $break_sm) {
    font-size: 28px;
    line-height: 36px;
  }
}
h4 {
  font-family: "PT Sans", serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 33px;
  @media (max-width: $break_sm) {
    font-size: 21px;
    line-height: 30px;
  }
}
h5, h6 {
  font-family: "PT Sans", serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
}
.text {
  margin-bottom: 76px;
  p {
    max-width: 700px;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  h2 {
    max-width: 700px;
    margin-bottom: 40px;
    color: #080810;
  }
  mark {
    padding: 0 5px;
    background-color: #DEEDF7;
  }
  blockquote {
    padding: 55px 40px;
    margin: 50px 0;
    font-family: "PT Serif";
    font-size: 28px;
    font-style: italic;
    line-height: 45px;
    color: #080810;
    text-align: center;
    border-top: 5px solid #000;
    border-bottom: 2px solid #000;
    strong {
      font-weight: bold;
    }
  }
  ul {
    max-width: 700px;
    font-size: 21px;
    line-height: 33px;
    li {
      margin-bottom: 13px;
    }
  }
  ol {
    max-width: 700px;
    padding-left: 18px;
    margin-top: 13px;
    margin-bottom: 20px;
    list-style-type: demical;
    font-size: 17px;
    font-weight: bold;
    color: $blue;
    li {
      margin-bottom: 13px;
    }
    span {
      font-size: 21px;
      line-height: 33px;
      font-weight: normal;
      color: #222;
    }
  }
  a {
    color: $blue;
    &:hover,&:visited {
      color: $blueDark;
    }
  }
  @media (max-width: $break_sm) {
    h2 {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 15px;
    }
    blockquote {
      padding: 50px 25px;
      text-align: left;
      font-style: normal;
    }
  }
}
.btn {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    display: block;
    border-radius: 5px;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -5px;
    transition: 0.3s;
  }
  &__front {
    display: block;
    padding: 23px 30px;
    border-radius: 5px;
    position: relative;
  }
  &--white {
    color: #222222;
    &:before {
      background-color: $black;
    }
    .btn__front {
      background-color: #fff;
    }
  }
  &--blue {
    color: #fff;
    &:before {
      background-color: $blueDark;
    }
    .btn__front {
      background-color: $blue;
    }
  }
  &:hover {
    transform: translate(0,3px);
    &:before {
      bottom: -2px;
    }
  }
}
.line {
  width: 1px;
  background-color: $bdc;
  position: absolute;
  top: 0;
  bottom: 0;
  &--1 {
    left: 25%;
  }
  &--2 {
    left: 50%;
  }
  &--3 {
    left: 75%;
  }
}
.lines__container  {
  position: relative;
  border: 1px solid $bdc;
  &--dark {
    border-color: #24303F;
    .line {
      background-color: #24303F;
    }
  }
}
/* /settings */